.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.closeIcon {
  color: black;
  padding: 0.5vw;
  display: flex;
  margin-left: auto;

  /* margin-left: 45vw; */
}

.modal-main {
  position: fixed;
  background: whitesmoke;
  width: 60%;
  height: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  border-radius: 10px;
}

.modal-main.chatsearch {
  /* width: 40%; */
  width: 42vw;
}

.modal-main.chatcreate {
  width: 45%;

  /* align-items: center; */
  justify-content: center;
}

.modal-main.chatleave,
.modal-main.chatdelete {
  height: auto;
  width: 30%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* .modal-main.chatdelete {
    width: 30%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column
  } */

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.search {
  align-items: center;
  justify-content: center;
}

.createChat {
  margin-top: 7vh;
  margin-left: 7vw;
  justify-content: center;
  align-items: center;
  display: flex;
}

.createChatInput {
  width: 20vw;
  margin-right: 1vw;
}

.searchChat {
  margin-top: 7vh;
  margin-left: 7vw;
  justify-content: center;
  align-items: center;
  display: flex;
}

.searchChatInput {
  width: 20vw;
}

.searchIcon {
  color: black;
  padding: 10px;
}

/********************** SEARCH RESULT SCROLL BAR *********************/
.searchResult {
  margin-top: 5px;
  width: 20vw;
  height: 30vh;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  align-items: center;
  margin-left: 8vw;
}

.searchResult::-webkit-scrollbar {
  display: none;
}

.searchResult .chatItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.chatItem p {
  margin-left: 10px;
  color: black;
}

a {
  text-decoration: none;
}

.chatItem:hover {
  background-color: lightgrey;
}

/* a {
  text-decoration: none;
}

a:hover {
  background-color: lightgrey;
} */

/********************** LOGIN/SIGNUP ERROR CHECK MODALS *********************/
.modal-main.checkloginsignup {
  height: 40%;
  width: 30%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/********************** SETTINGS MODALS *********************/
.modal-main.accountedit {
  height: 60%;
  width: 40%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.modal-main.accountedit.usernamechange {
  height: 60%;
  width: 40%;
}

.modal-main.accountedit.emailchange {
  height: 70%;
  width: 40%;
}

.modal-main.accountdelete {
  height: auto;
  width: 30%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.modalEditRegister {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* background-color: #051254; */
  background-color: #375ab9;
  border-radius: 10px;
  margin: auto;
  width: 30vw;
  height: 23vw;
  padding: 2vw 1vw;
}

/********************** ERROR CHAT MODAL *********************/
.modal-main.errorchat,
.modal-main.charlimit {
  height: 20%;
  width: 30%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
